.Dev-Project-Card-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Dev-Project-Card {
  text-align: center;
  margin: 20px;
  border: 1px black;
  height: 300px;
  width: 300px;
  align-items: center;
}

.hidden {
  width: inherit;
  height: inherit;
  position: absolute;
  padding: 0;
  z-index: 1;
  opacity: 0;
  background-color: #ecf0f1;
}



.Project-Card-Image {
  display: inline-block;
  width: 300px;
  height: 300px;
  align-self: center;
  position: relative;
}

.Dev-Project-Card:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

.Dev-Project-Card:hover .hidden{
  transform: scale(1.1);
  transition: all 0.4s;
  opacity: 0.5;
}

.Modal-Open {
  height: 50px;
  width: 50px;
  background-color: #ecf0f1;
}
