.Dev-Project-Card-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Dev-Project-Card {
  text-align: center;
  margin: 20px;
  border: 1px black;
  height: 300px;
  width: 300px;
  background-color: #e74c3c;
}
