@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*Navigation*/
a {
  color: black;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.1s;
}

a:hover {
  font-size: 22px;
  text-decoration: none;
}

.nav-bar{
  height: 100px;
  background-size: cover;
  display: flex;
}

.panel {
  text-align: center;
  align-items: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}
